{
    skip_install_trust
    admin off
    storage file_system {
        root /app/.caddy/data
    }
}

http://localhost:80 {
    root * /app/public
    file_server
    encode zstd br gzip
    php_server
}